{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}
<h1>"Mi About"</h1>

<hr class="border border-primary border-3 opacity-75">

<li> Me llamo Clemar Falabella y desarrolle esta pagina web como proyecto final de mi curso de Python en CoderHouse</li>

<li> Decidi estudiar programacion porq desde muy chico me encanta la tecnologia y todo lo relacionado a ella, de hecho soy tecnico en reparacion
    de PCs y armado de redes y lo que me faltaba para cerrar conocimientos era la Parte de la Creacion de software y ese es otro motivo mas por el 
    que tome el curso.</li>
    
<li> Mi objetivo a largo plazo es desarrollar aplicaciones o webs para sitios importantes del mercado de la tecnologia como lo son google o amazon entre tantos 
    otros </li>

<li> Bueno eso fue un poco sobre mi, la persona que hizo esta web... </li>
{% endblock %} 