{% extends 'OnlyTrucks/base.html' %}
{% load static %}


{% block main %}



<div class="d-flex justify-content-center">
   <div class="col col-8" style="text-align: center;">
       <h1 class="mt-5">{{ Camion.Modelo_de_su_Camion }}</h1>
       <p><img height="300px" src="{{Camion.image_url}}"></p>
       <p class="lead">{{ Camion.Descripcion}}</p>
       <p class="lead">Precio: {{ Camion.Precio}} Modelo: {{Camion.Año_de_Fabricacion}}</p>
       <p class="lead">Fecha de Publicacion: {{ Camion.Publicado_el}}</p>
       <p class="lead">Vendedor: {{ Camion.Vendedor}}</p>
       <a class="btn btn-primary" href="{% url 'mensaje-create'%}">Enviar Mensaje</a>
       {% if user.is_authenticated and user.id == Camion.Vendedor.id%} 
        <a class="btn btn-primary" href="{% url 'Camion-update' Camion.id %}">actualizar</a>
        <a class="btn btn-danger" href="{% url 'Camion-delete' Camion.id %}">borrar</a>
        {% endif %}
   </div>
</div>
{% endblock %}  