{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}

<h1> Catalogo de Camiones </h1>

<ul>
    {% if not Camiones%}
    <h1> Aun no hay Camiones a la Venta </h1>
    {% endif %}
    {% for Camion in Camiones %}
    <li>{{Camion.id}} - {{ Camion.Modelo_de_su_Camion }} - {{Camion.Precio}}
        <a href="{% url 'Camion-detail' Camion.id %}">detalle</a>
        {% if user.is_authenticated and user.id == Camion.Vendedor.id%} 
        <a href="{% url 'Camion-update' Camion.id %}">actualizar</a>
        <a href="{% url 'Camion-delete' Camion.id %}">borrar</a>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
    
    {% endblock %}   