{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}

<h1> Catalogo de Camiones </h1>

<ul>
    {% if not Camiones%}
    <h1> Aun no hay Camiones a la Venta </h1>
    {% endif %}
    {% for Camion in Camiones %}
    <li>{{Camion.id}} - {{ Camion.Modelo_de_su_Camion }} - {{Camion.Precio}}</li>
    <a  class="btn btn-info" href="{% url 'Camion-detail' Camion.id %}">Detalle</a>
        {% if user.is_authenticated and user.id == Camion.Vendedor.id%} 
        <a  class="btn btn-success" href="{% url 'Camion-update' Camion.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'Camion-delete' Camion.id %}">Borrar</a>
        {% endif %}
    {% endfor %}
    </ul>
    
    {% endblock %}   