{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}

<h1>Catalogo de Acoplados</h1>

<ul>
    {% if not Remolques%}
    <h1> Aun no hay Acoplados a la Venta </h1>
    {% endif %}
    {% for Remolques in Remolques %}
    <li>{{Remolques.id}} - {{ Remolques.Modelo_de_su_Acoplado }} - {{Remolques.Precio}}</li>
    <a class="btn btn-info"  href="{% url 'Remolques-detail' Remolques.id %}">Detalle</a>
        {% if user.is_authenticated and user.id == Remolques.Vendedor.id%}
        <a class="btn btn-success" href="{% url 'Remolques-update' Remolques.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'Remolques-delete' Remolques.id %}">Borrar</a>
        {% endif %}
    {% endfor %}
    </ul>
    
    {% endblock %}   