{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}

<h1>Catalogo de Acoplados</h1>

<ul>
    {% if not Remolques%}
    <h1> Aun no hay Acoplados a la Venta </h1>
    {% endif %}
    {% for Remolques in Remolques %}
    <li>{{Remolques.id}} - {{ Remolques.Modelo_de_su_Acoplado }} - {{Remolques.Precio}}
        <a href="{% url 'Remolques-detail' Remolques.id %}">detalle</a>
        {% if user.is_authenticated and user.id == Remolques.Vendedor.id%}
        <a href="{% url 'Remolques-update' Remolques.id %}">actualizar</a>
        <a href="{% url 'Remolques-delete' Remolques.id %}">borrar</a>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
    
    {% endblock %}   