{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}


<div class="d-flex justify-content-center">
   <div class="col col-8" style="text-align: center;">
       <h1 class="mt-5">{{ Remolque.Modelo_de_su_Acoplado }}</h1>
       <p><img height="256px" src="{{Remolque.imagen_url}}"></p>
       <p class="lead">{{ Remolque.Descripcion}}</p>
       <p class="lead">Precio: {{ Remolque.Precio}} Modelo: {{Remolque.Año_de_Fabricacion}}</p>
       <p class="lead">Fecha de Publicacion: {{ Remolque.Publicado_el}}</p>
       <p class="lead">Vendedor: {{ Remolque.Vendedor}}</p>
       <a class="btn btn-primary" href="{% url 'mensaje-create'%}">Enviar Mensaje</a>
       {% if user.is_authenticated and user.id == Remolque.Vendedor.id%}
        <a class="btn btn-primary" href="{% url 'Remolques-update' Remolque.id %}">actualizar</a>
        <a class="btn btn-danger" href="{% url 'Remolques-delete' Remolque.id %}">borrar</a>
       {% endif%}
   </div>
</div>

{% endblock %}  