{% extends 'OnlyTrucks/base.html' %}
{% load static %}

{% block main %}

<h1>Resultados de su Busqueda</h1>

<ul>
{% for Camion in CamionesB %}
<li>{{Camion.id}} - {{ Camion.Modelo_de_su_Camion }} - {{Camion.Año_de_Fabricacion}} - {{Camion.Precio}}
    <a href="{% url 'Camion-detail' Camion.id %}">detalle</a>
    <a href="{% url 'Camion-update' Camion.id %}">actualizar</a>
    <a href="{% url 'Camion-delete' Camion.id %}">borrar</a>
</li>
{% endfor %}
</ul>

<ul>
{% for Remolques in RemolquesB %}
<li>{{Remolques.id}} - {{ Remolques.Modelo_de_su_Acoplado }} - {{Remolques.Año_de_Fabricacion}} - {{Remolques.Precio}}
    <a href="{% url 'Remolques-detail' Remolques.id %}">detalle</a>
    <a href="{% url 'Remolques-update' Remolques.id %}">actualizar</a>
    <a href="{% url 'Remolques-delete' Remolques.id %}">borrar</a>
</li>
{% endfor %}
</ul>



{% endblock %}
